# Maven 编译输出目录
**/target/

# IntelliJ IDEA 配置文件
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode 配置文件
.vscode/

# 编译的 class 文件
*.class

# 日志文件
*.log

# 临时文件
*.tmp
*.temp

# 操作系统相关文件
.DS_Store
Thumbs.db

# 环境变量配置文件（如果有）
.env

# Eclipse 配置（如果用过Eclipse）
.project
.classpath
.settings/
/crawler-discovery/target/classes/
/crawler-job/target/classes/
